* {
  box-sizing: border-box;
}

.thumb {
  float: left;
  width: 20%;
  padding-right: 5px;
  margin: .5em;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 100%;
}